@font-face {
    font-family: 'GodOfWar';
    src: url(./fonts/GODOFWAR.TTF) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
    font-family: 'GodOfWar', sans-serif;
}

ul, ol, li {
    list-style: none;
}

li{
    margin-right: 25px;
    margin-left: 25px;
    font-size: 80px;
}

html, body {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.titulo-main-h1 {
    font-family: 'GodOfWar', sans-serif;
    color: #5092D2;
    font-size: 4.3vw;
    margin-left: 10%;
    padding-top: 25vh;
}

.titulo-main-h2 {
    font-family: 'GodOfWar', sans-serif;
    color: white;
    font-size: 3vw;
    margin-left: 10%;
    padding-top: 1px;
}

.titulo-pg2-h1 {
    font-family: 'GodOfWar', sans-serif;
    color: #5092D2;
    font-size: 4.3vw;
    margin-left: 10%;
    padding-top: 25vh;
}

.paragrafo-main {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200px;
    margin-left: 10%;
    margin-right: 55%;
    margin-top: 7vh;
    font-size: 1vw;
    color: white;
}

.imgkratos {
    width: 75vw; 
    height: auto;
    margin-left: 35%;
    margin-top: -44vh;
    position: absolute;
}

.imgatreus {
    width: 30vw; 
    height: auto;
    margin-left: 60%;
    margin-top: -54.5vh;
    position: absolute;
}

.imgthor {
    width: 67vw; 
    height: auto;
    margin-left: 45%;
    margin-top: -43.3vh;
    position: absolute;
}

.imgodin {
    width: 35vw; 
    height: auto;
    margin-left: 55%;
    margin-top: -49vh;
    position: absolute;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
}

.gowlogo {
    width: 10vw;
    height: auto;
    margin-left: 5vw;
}

.element1gow {
    margin-left: 15vw;
    margin-bottom: 0.7vh;
    width: 20vw;
    height: auto;
}

.buy-button {
    display: inline-block;
    padding: 1vh 2vw;
    background-color: #5092D2;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 8vw;
}

.grupo {
    height: 100vh;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: white;
    padding: 8px;
    font-size: 0.8vw;
}

#kratos {
    background-image: url(./img/gowcenario.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#atreus {
    background-image: url(./img/fundopg2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#thor {
    background-image: url(./img/fundopg3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#odin {
    background-image: url(./img/fundopg4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
