@font-face {
    font-family: 'GodOfWar';
    src: url(./fonts/GODOFWAR.TTF) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
    font-family: 'GodOfWar', sans-serif;
}

ul, ol, li {
    list-style: none;
}

li{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 80px;
    margin-bottom: 20px;
}

html, body {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.titulo-main-h1 {
    font-family: 'GodOfWar', sans-serif;
    color: white;
    font-size: 3vw;
    margin-left: 10%;
    padding-top: 25vh;
}

.paragrafo-main {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 10%;
    margin-top: 2vh;
    font-size: 1vw;
    color: white;
}

.imgkratos {
    width: 60vw; 
    height: auto;
    margin-left: 40%;
    margin-top: -28vh;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
}

.gowlogo {
    width: 10vw;
    height: auto;
    margin-left: 5vw;
}

.element1gow {
    margin-left: 15vw;
    margin-bottom: 0.7vh;
    width: 20vw;
    height: auto;
}

.buy-button {
    display: inline-block;
    padding: 1vh 2vw;
    background-color: #5092D2;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 8vw;
}

.grupo {
    height: 100vh;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: white;
    padding: 8px;
    font-size: 0.8vw;
}

#inicio {
    background-image: url(./img/gowcenario.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#personagens {
    background-color: blue;
}

#bastidores {
    background-color: green;
}

#compre {
    background-color: yellow;
}
